

body {
    background-color: black;
    h1 {
        font-size: 50px;
    }

    ul {
        display: block;
        width: 100px;
        height: 100px;  
        background-color: aqua;

        li {
            color:blanchedalmond;
        }
    }
}