@import 'reset';
@import 'variables';

/*
*  Main Styles
*/


body {
    background-color: black;
    h1 {
        font: 100% $main-font; 
        //font-size: 50px;
        //color: $color;
        @include mixin(white, 10vh);
        @extend %message-shared;
    }

    ul {
        display: block;
        width: 100px;
        height: 100px;  
        background-color: aqua;

        li {
            color:blanchedalmond;
            @extend %message-shared;
        }
    }

    .main-section {
        @include mixin(white, 20px)
    }

}

